<div>
    <p>&nbsp;</p>
    <footer class="site-footer text-light" style="background-color: #23272A;">
        <div class="container-fluid">
            <p>&nbsp;</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">Welcome to Unicron's Official Website. We're dedicated to giving you the
                            very best of a discord bot, with a focus on Dynamic Text/Voice, Ticket System and so much
                            more!
                            We hope you enjoy our powerful discord bot as much as we enjoy offering them to you.<br>
                            If you have any questions or comments, please don't hesitate to contact us.
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Links</h6>
                        <ul class="footer-links">
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/tos">Terms of Service</a></li>
                            <li><a href="https://discord.gg/Pp9T2zS" target="_blank">Official Discord Server</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                            <a href="#">Unicron LLC</a>.
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p class="text-light">Website made with Bootstrap
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>