<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Unicron" />
    <meta property="og:title" content="Unicron Dashboard" />
    <meta property="og:type" content="website" />
    <meta property="og:image"
        content="https://cdn.discordapp.com/avatars/634908645896880128/8b07933aa38d65760745017dadd4e520.png" />
    <meta property="og:site_name" content="Unicron Dashboard">
    <meta property="og:locale" content="en_US">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/boostrap.css" />

    <script href="/static/js/jquery.min.js"></script>
    <script href="/static/js/popper.min.js"></script>
    <script href="/static/js/bootstrap.js"></script>
    <script href="/static/js/bootstrap.min.js"></script>
    <script href="/static/js/mdb.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/mdb.min.css" />

    <link rel='icon'
        href='https://cdn.discordapp.com/avatars/634908645896880128/8b07933aa38d65760745017dadd4e520.png' />

    <title><%- title %></title>
</head>